<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.tohaman.rg2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning"
        android:name="ru.tohaman.rg2.MainApplication"
        android:theme="@style/AppTheme">

        <activity
            android:name="ru.tohaman.rg2.ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.tohaman.rg2.ui.MainActivity"
            android:theme="@style/AppTheme">
            <nav-graph android:value="@navigation/main_graph"/>
        </activity>

        <activity
            android:name="ru.tohaman.rg2.ui.youtube.YouTubePlayerActivity"
            android:theme="@style/AppTheme">
            <nav-graph android:value="@navigation/youtube_graph"/>
        </activity>

    </application>

</manifest>